[phases.setup]
nixPkgs = ["python39", "python39Packages.pip", "python39Packages.virtualenv", "postgresql"]

[phases.install]
cmds = [
  "cd backend",
  "python -m venv /opt/venv",
  ". /opt/venv/bin/activate && pip install --upgrade pip",
  ". /opt/venv/bin/activate && pip install -r requirements.txt"
]

[phases.build]
cmds = [
  "cd backend && . /opt/venv/bin/activate && python manage.py collectstatic --noinput"
]

[start]
cmd = "cd backend && . /opt/venv/bin/activate && gunicorn invest_backend.wsgi:application --bind 0.0.0.0:$PORT"
